@import "react-alice-carousel/lib/alice-carousel.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: justify;
}

.page-container {
  min-height: 72.8vh;
}

/*Navigation panel*/

nav .brand-logo {
  padding-left: 2rem;
}

nav #nav-mobile {
  padding-right: 2rem;
}

.navbar-logout {
  background-color: red;
}

/*Users*/

.pagination-list-users {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.down-list-users,
.up-list-users {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px rgb(46, 181, 243) solid;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  cursor: pointer;
}

.down-list-users:hover,
.up-list-users:hover {
  background-color: rgb(183, 212, 216);
}

.page-list-users {
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px rgb(46, 181, 243) solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/*User*/

.user-card {
  display: flex;
  margin-bottom: 2%;
}

.user-image {
  width: 150px;
  height: 150px;
  margin-right: 2%;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-info {
  width: 300px;
}

.user-info p {
  font-weight: bold;
}

/*Todos*/
.todo {
  margin-bottom: 1rem;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo i {
  z-index: 2;
}
